@media screen and (min-width: 320px) {
  .white-section {
    display: none;
  }

  .container-icon {
    display: none;
  }
}
@media screen and (min-width: 428px) {
  .mobile-list {
    display: flex;
    align-items: start;
    gap: 56px;
  }
  .container-button-menu {
    display: flex;
    justify-content: space-between;
    width: 396px;
  }
  .hero-section {
    min-width: 428px;
  }
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  footer .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal {
    width: 392px;
  }

  .link-overlay {
    max-width: none;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    width: 736px;
  }
  .button-menu {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    margin-left: 120px;
    gap: 40px;
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active:visited {
    display: block;
    color: var(--color-button-ocean);
  }
  .active-portfolio:visited {
    display: block;
    color: var(--color-button-ocean);
  }
  .active::after {
    position: absolute;
    content: '';
    width: 48px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
  }
  .container-button-menu {
    width: 115px;
  }
  .active-portfolio::after {
    position: absolute;
    content: '';
    width: 66px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color-blue, #2e2f42);
  }
  .link-header:hover,
  .link-header:focus {
    color: var(--color-button-ocean, #404bbf);
  }
  .menu:not(:last-child) {
    margin-right: 40px;
  }

  .address {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-phone-mail {
    display: block;
  }
  .link-address {
    display: flex;
    margin-bottom: 12px;
  }
  .address,
  .address-phone-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-slate);
  }
  .address:focus,
  .address:hover {
    color: var(--color-button-ocean);
  }
  .hero-section {
    max-width: 768px;
  }
  .background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab-1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    /* max-width: 1440px; */
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x-min.jpg);
    }
  }
  .hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-white);
    width: 496px;
    max-width: none;
    margin-bottom: 36px;
  }
  .container {
    width: 768px;
  }
  .container > .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list-features {
    width: 356px;
  }
  .features-title {
    text-align: left;
  }
  .card-set {
    gap: 64px 24px;
  }
  .customers-container {
    width: 552px;
    padding: 0;
    margin: auto;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
    margin: 0;
  }
  .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 88px;
    width: 168px;
    /* width: 190px; */
    fill: #8e8f99;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  footer .container {
    width: 768px;
    display: flex;
    padding-left: 108px;
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-logo-container {
    display: flex;
    align-items: start;
    height: auto;
    margin-left: 0;
    margin-right: 24px;
  }
  .logo-footer {
    margin-right: 0;
    margin-left: 0;
  }
  .text-footer {
    width: 264px;
    /* max-width: 268px; */
    margin-right: 0;
    margin-left: 0;
  }
  .footer-networks {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .footer-container-item {
    display: flex;
    width: 552px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .text-networks {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-bottom: 16px;
    margin-left: 0;
    padding-bottom: 0;
  }
  .subscribe-form {
    max-width: 453px;
    align-items: flex-end;
    display: flex;
    margin: 0;
    height: 40px;
    /* margin-left: 80px; */
  }
  .subscribe-container {
    display: block;
    width: 552px;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 0;
  }
  .subscribe-email {
    margin-right: 24px;
  }
  .subscribe-title {
    justify-content: flex-start;
  }
  .modal {
    width: 408px;
  }

  /*! /////////////////// portfolio ///////////////////*/
  .section-portfolio {
    padding: 64px 0 96px 0;
  }
  .container-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
  }
  .button-list {
    padding: 12px 24px;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    gap: 24px;
    margin-right: 0;
  }
  .border-about{
    margin-bottom: 0;
  }

  .link-overlay {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  header > .container {
    width: 1128px;
  }
  .container-header{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .address-list {
    display: flex;
    gap: 40px;
  }
  .active::after {
    margin-top: 20px;
  }
  .link-address {
    margin-bottom: 0;
  }
  .address,
  .address-phone-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-width: 320px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office\ 1-deks-2x-min.jpg);
    }
  }
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
  }
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
  }

  .features-list {
    display: flex;
    gap: 24px;
  }
  .list-features {
    width: auto;
  }
  .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-slate);
    margin-top: 8px;
    width: 264px;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-blue);
  }
  .white-section {
    display: block;
  }
  .card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    /* gap: 72px; */
    text-align: center;
  }
  .our-team {
    width: 1128px;
    padding: 0;
  }

  .customers-container {
    width: 1128px;
    padding: 0;
  }
  .customers-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customers-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  footer .container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container-item {
    display: flex;
    width: auto;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding: 0;
  }
  .logo-footer {
    display: block;
  }
  .text-footer {
    width: 264px;
  }
  .footer-networks {
    display: flex;
    margin-left: 120px;
    justify-content: flex-end;
  }
  .text-networks {
    margin-top: 0;
    padding-bottom: 0;
    margin-right: 0;
  }
  .footer-position {
    display: flex;
    justify-content: start;
  }
  .subscribe-container {
    width: 453px;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
  .subscribe-form {
    display: flex;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe-title {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
  .subscribe-email {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    margin-right: 24px;
  }
  .modal-input {
    padding-left: 38px;
  }
  .about {
    gap: 48px 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .border-about {
    width: 360px;
}
  
}
